{% extends 'base.html' %}


{%block content%}
{% if user.is_authenticated %}



<div class="displaybar_details">

  
  <div>
    <p>{{data.title}}</p>
    <img src={{ data.cover_image }} style="height: 160px; width: 100px;">
    <p> {{ data.description }} </p>
    <img src= {{ data.author_pic }} style="height: 160px; width: 100px;">
    <p>{{ data.author_first }} {{ data.author_last}}</p>
    <p> {{ data.author_bio }} </p>
    <p>{{ data.category_name }}</p>

    {% comment %}
    
    Form to upload both user_id and the book into db
    
    {% endcomment %}
    <form method="POST">
      {% csrf_token %}
      <button type="submit">Add to Basket</button>
  </form>
</body>
  </div>
  
</div>

{% endif %}
{%endblock%}

