{% extends 'base.html' %}
{% block title %}Books{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container my-4">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for d in data_list %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <header class="display-6 m-4">{{ d.0.category }}</header>
            <hr>
            <div id="carousel-{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for x in d %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <a href="{% url 'book_details' x.id %}">
                      <img src="{{ x.cover_image.url }}" class="d-block mx-auto" alt="{{ x.title }}">
                    </a>
                    <hr>
                    <p>{{ x.title }}</p>
                    <p>£{{ x.price }}</p>
                    <form method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="id_output" value="{{ x.id }}">
                      <button type="submit" class="button">Add to Basket</button>
                    </form>
                  </div>
                {% endfor %}
              </div>
              <!-- Carousel controls -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ forloop.counter }}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" hidden></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ forloop.counter }}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" hidden></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}