{% extends 'base.html' %}

{% block title%} Books {% endblock %}


{%block content%}
{% if user.is_authenticated %}



{% for d in data_list%}
  <header class="display-6 m-4">{{d.0.category}}</header>
  <div class="inv-div">
    {%for x in d %}
      <div class="item-div">
        <a href = "{%url 'book_details' x.id %}">
        <img src="{{x.cover_image.url}}" style="width:100px; height:150px;">
        </a>
      </div>

    {% endfor %}
  </div>
{% endfor %}
    



{% endif %}
{%endblock%}

