{% extends 'base.html' %}
{% load static %}
{% block title %}Profile Page{% endblock %}


{% block content %}
<div class="login-div">
    <div class="login-card">
        <h1>Profile</h1>
        <p>{{ user.username }}</p>
        <p>{{ user.first_name }}</p>
        <p>{{ user.last_name }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.date_joined }}</p>
        <p>{{ user.last_login }}</p>
        <hr>
        <button class="profile-change-button"><a href="{% url 'password_change' %}">Password Change</a></p>
        <form action ={% url 'profile'%} method="post">
            {% csrf_token %}
            <button class="profile-delete-button" type="submit">Delete account</button>
        </form>
    </div>
<hr>   
    <!-- Logout form -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="button" type="submit">Log Out</button>
      </form>
</div>
{% endblock %}