.roboto-floboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.sassy-frass-regular {
    font-family: "Sassy Frass", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.navbar-header {
    font-size: 50px;
}
  


.navbar-nav{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items:flex-end;
    justify-content: end;
    padding: 3px;
    gap: 10px;
    font-size: small;
    

}


.navbar-toggler-icon{
    width: 10px;
    height: 10px;
}

.nav-item {

    font-family:"Roboto";
}
.nav-item:hover {
    text-decoration: underline;
}

.login-div {

    text-align: center;
}

.inv-div{
    padding: 10px;
    display: flex;
    gap: 5px;
    overflow: auto;
    width: 70%;
    margin: 0 auto;
    box-shadow: inset 2px 2px 10px 2px;
    background: rgb(255, 222, 227);
    

}


.imglink:hover{
    border: 4px dashed white;
}

.homepage {
    text-align: center;
    padding: 50px;
}
.welcome-section {
    margin-bottom: 30px;
}
.login-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
.nav-links {
    list-style-type: none;
    padding: 0;
}
.nav-links li {
    display: inline;
    margin: 0 10px;
}
.nav-links a {
    text-decoration: none;
    color: #007bff;
}
.nav-links a:hover {
    text-decoration: underline;
}
button {
    background-color: #ffcccb; /* pastel pink */
    color: black;
    border: none;
    padding: 5px 15px; /* slimline shape */
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #ffb6c1; /* darker pastel pink */
}