.roboto-floboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.sassy-frass-regular {
    font-family: "Sassy Frass", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.navbar-header {
    font-size: 50px;
}
  


.navbar-nav{
    align-items: center;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 100px;
    padding: 3px;
    gap: 10px;
    font-size: small;
    

}


.navbar-toggler-icon{
    width: 10px;
    height: 10px;
}

.nav-item {

    font-family:"Roboto";
}
.nav-item:hover {
    text-decoration: underline;
}

.login-div {

    text-align: center;
}

.inv-div{
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    gap: 5px;
    overflow: auto;
    width: 95%;
    margin: 0 auto;
    box-shadow: inset 2px 2px 10px 2px;
    background: rgb(255, 222, 227);
    

}

.item-div:hover{
    border: 4px dashed white;

}