{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="login-card">
  {% if user.is_authenticated %}

  <p>Hi {{ user.username }}!</p>

  <ul class="nav-links">
    <li><a href="{% url 'password_change' %}">Password Change</a></li>
  </ul>

  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
      <button type="submit">Log Out</button>
  </form>

  {% else %}

  <p>You are not logged in</p> 
   
  <ul class="nav-links" style="text-align: center">
    <li><a href="{% url 'login' %}">Log In</a></li>
    <li><a href="{% url 'signup' %}">Sign up</a></li>
    <li><a href="{% url 'password_reset' %}">Password Reset</a></li>
  </ul>
  {% endif %}
</div>

{% endblock %}