{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage">
  <div class="welcome-section">
    {% if user.is_authenticated %}
      <div class="bookspren-logo">
        <img class="logo-img" src="{% static 'images/pic2_edited.png' %}" alt="Bookspren Logo">
      </div>
      <hr>
      <h1 class="sassy-frass-regular">Welcome, {{ user.username.title }}!</h1>
      <hr>
      
      <!-- In the Basket section -->
      <div class="title-banner">
        <h1>In the Basket</h1>
        <h6 class="nav-item"><a class="nav-link" href="{% url 'cart' %}">View Basket</a></h6>
        
      </div>
      
      <br>
      <div class="home-item-div">
        {% for bk in cart %}
          {%if request.user.username == bk.user_id.username %}
            <div class="book-card">
            <a href="{%url 'book_details' bk.book.id%}"> <img src="{{ bk.book.cover_image.url }}" alt="{{ bk.book.title }}"> </a>
        </div> 
        {% endif %}  
        {% endfor %}
      </div>
      <hr>

      <!-- Almost Gone section -->
      <div class="title-banner">
        <h1>Almost Gone!</h1>
      </div>
      <br>
      <div class="home-item-div">
        {% for book in books %}
         {%if book.stock != 0 %}
          {% if book.stock <= 12 %}
            <div class="book-card">
              <a href="{% url 'book_details' book.id %}"><img src="{{ book.cover_image.url }}" alt="{{ book.title }}"></a>
              <p>£{{ book.price }}</p>
              <p>Stock: {{book.stock}}</p>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_output" value="{{ book.id }}">
                <button type="submit" class="home-button">Add to Basket</button>
              </form>
            </div>
          {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <hr>

      <!-- Sale section -->
      <div class="title-banner">
        <h1>Sale!</h1>
      </div>
      <br>
      <div class="home-item-div">
        {% for book in books %}
          {% if book.stock > 50 %}
            <div class="book-card">
              <a href="{% url 'book_details' book.id %}"><img src="{{ book.cover_image.url }}" alt="{{ book.title }}"></a>
              <p>£{{ book.price }}</p>
              <p>Stock: {{book.stock}}</p>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_output" value="{{ book.id }}">
                <button type="submit" class="home-button">Add to Basket</button>
              </form>
            </div>
            {% endif %}
        {% endfor %}
      </div>
      <hr>

      <!-- Under £10 section -->
      <div class="title-banner">
        <h1>Under £10!</h1>
      </div>
      <br>
      <div class="home-item-div">
      {% for book in books %}
        {%if book.stock != 0 %}
          {% if book.price <= 10 %}
            <div class="book-card">
              <a href="{% url 'book_details' book.id %}"><img src="{{ book.cover_image.url }}" alt="{{ book.title }}"></a>
              <p>£{{ book.price }}</p>
              <p>Stock: {{book.stock}}</p>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_output" value="{{ book.id }}">
                <button type="submit" class="home-button">Add to Basket</button>
              </form>
            </div>
            {% endif %}
            {% endif %}
        {% endfor %}
      </div>
      <hr>
      <!-- Out of Stock section -->
      <div class="title-banner">
        <h1>Out of Stock but coming back soon!</h1>
      </div>
      <br>
      <div class="home-item-div">
      {% for book in books %}
          {% if book.stock == 0 %}
            <div class="book-card">
              <a href="{% url 'book_details' book.id %}"><img src="{{ book.cover_image.url }}" alt="{{ book.title }}"></a>
              <p>£{{ book.price }}</p>
              <p>Stock: {{book.stock}}</p>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_output" value="{{ book.id }}">
                <button type="submit" class="home-button">Add to Basket</button>
              </form>
            </div>
            {% endif %}
        {% endfor %}
      </div>
      <hr>
      
    {% else %}
      <h1 class="sassy-frass-regular" style="font-size: 100px;">Welcome to Bookspren</h1>
      
    {% endif %}
  </div>

  <div class="login-card">
    {% if user.is_authenticated %}
      <!-- Navigation links for authenticated users -->
      <ul class="nav-links">
        <li class="nav-item"><a href="{% url 'password_change' %}">Password Change</a></li>
      </ul>

      <!-- Logout form -->
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="button" type="submit">Log Out</button>
      </form>
    {% else %}

      <!-- Navigation links for unauthenticated users -->
      <ul class="nav-links" style="text-align: center">
        <li><a href="{% url 'login' %}">Log In</a></li>
        <li><a href="{% url 'signup' %}">Sign up</a></li>
        <li><a href="{% url 'password_reset' %}">Reset</a></li>
      </ul>
    {% endif %}
  </div>
</div>

{% endblock %}