{% extends "base.html" %}
{% block title %}Basket{%endblock%}
{% block content %}



<table class="table table-sm table-responsive table-striped"  style="width:80%; margin: 0 auto; text-align:center;">
    <tr>
    <th>Book</th>
    <th>Price</th>
    <th>Stock</th>
    <th>
        <form method="POST">
            {% csrf_token %}
                <input type="hidden" name="delete_cart" value="true">
                <button type="submit">Clear Basket</button>
        </form>
    </th>
    </tr>
    
    {% for bk in cart %}
        {%if user.username == bk.user_id.username %}
            <tr>
                {% comment %} <td>{{bk}}</td> # calls def __str__(self) function {% endcomment %}
            
                <td>{{bk.book.title}}</td>
                <td>£{{bk.book.price}}</td>
                <td>{{bk.book.stock}}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="delete_item" value="true">
                        <input type="hidden" name="cart_id" value="{{bk.id}}">
                        <button type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
            
        {% endif %}  
         
    {% endfor %}
    <tr>
        
        <td><p>Total Price: £{{total_price}}</p></td> 
        <td>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="checkout" value="true">
                <button type="submit">Checkout</button>
            </form>
        </td>
        
    </tr>
</table>


{% endblock content %}

