{% extends "base.html" %}
{% block content %}



<table class="table table-striped">
    <tr>
    <th>ID</th><th>Book</th><th>Price</th>
    </tr>
    
    {% for bk in cart %}
        {%if user.username == bk.user_id.username %}
            <tr>
                {% comment %} <td>{{bk}}</td> # calls def __str__(self) function {% endcomment %}
                <td>{{bk.user_id}}</td>
                <td>{{bk.book.title}}</td>
                <td>{{bk.book.price}}</td>
            </tr>
            
        {% endif %}    
    {% endfor %}
</table>

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="delete_cart" value="true">
    <button type="submit">Clear Basket</button>
</form>
{% endblock content %}

