/************************************************ Font Styles */
.roboto-floboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.sassy-frass-regular {
    font-family: "Sassy Frass", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
/*************************************** BODY AND MAIN STYLES */
main {
    min-height: 100vh;
  }
h1{
    font-size: 10px;
}

/********************************************** Navbar Styles */
.navbar-header {
    font-size: 50px;
}

.navbar-nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    justify-content: end;
    padding: 3px;
    gap: 10px;
    font-size: small;
}

.navbar-toggler-icon {
    width: 10px;
    height: 10px;
}


.nav-item a:hover {
    color: #f7cbf2e6;
}

/******************************************** Login Styles */
.login-div {
    text-align: center;
    max-height: inherit;
    width: 100%;
    
}

.login-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    max-width: 300px;
    width: 80%;   
    text-align: center;
    margin: 0 auto;
    border: 4px solid #f8dcf5e6;
    
}


/************************************************************** Home.html */

.title-banner{
   
    text-align: left;
    align-content: center;
    padding: 10px;

    
    
}
.title-banner h1{
    font-size: 3rem;
    font-family: "Sassy Frass", serif;
    margin: 0 auto;
}

.home-button{
    
    max-height: 50px;
    font-size: xx-small;
    
}

.welcome-section {
    text-align: center;
    
}

.home-div{
    display: flex;
    width: 98%;
    overflow: auto;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
    
    
}
.home-item{
    
    padding: 5px;
    
    
}
.home-item img{
    width: 100px;
    height: 150px;
    
}
.home-item img:hover{
    opacity: 80%;
}
.book-title{
    font-size: 0.7rem;
    font-weight: bold;
    min-height: 2.5rem;
    width: 100px;
    
}
.book-price{
    font-size: 0.7rem;
    font-weight: bold;
    color: #f4a261;
}
.book-stock{
    font-size: 0.7rem;
    font-weight: bold;
    color: #2a9d8f;
}

/********************************************************* Navigation Links */

.nav-links {
    list-style-type: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
    
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.nav-links a:hover {
    color: #f7cbf2e6;
}

/********************************************************** Button Styles */
.nav-button{
    padding: 7px;
    background-color: rgba(255, 0, 0, 0.71);
    border: 2px solid black;
    font-weight: bold;
    font-family: "Roboto", serif;
    border-radius: 8px;
    
}
.nav-button:hover{
    opacity: 60%;
    
    
}
.home-button{
    padding: 10px;
    border: none;
    background-color: white;
}
.home-button:hover{
    color: #f7cbf2e6;
}

.profile-delete-button{
    border: none;
    background-color: #f9f9f9;
    color: red;
    font-weight: bold;
}
.profile-change-button{
    border: none;
    background-color: #f9f9f9;
    
}
.profile-change-button a{
    text-decoration: none;
    color: green;
    font-weight: bold;
}


/******************************************************* Card Styles */

.card {
    border: none !important;
    text-align: center;
}
.card-body{
    border: none !important;
}




/*********************************************** Search Page */

.search-list{
    text-decoration: none;
    
}
.search-item a{
    text-decoration: none;
    color: black;
    
}
.search-item a:hover{
    color: #f7cbf2e6;
}


/*********************************************** Genres Page */


.catergory-div{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 10px;
    border:2px solid #f8dcf5e6;
    padding: 10px;
    gap: 5px;
}

.category-card:hover{   
    opacity: 80%;

}

/***************************************************** Footer Styles */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px;
    height: 50px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 8px 0;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: #f7cbf2e6;
}

.footer-social a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}

.footer-social a:hover {
    color: #f7cbf2e6;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 14px;
}


/*************************************************** SIGNUP DIV*/

.signup-card{
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    

}
